*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true

*.json linguist-vendored=false
*.json linguist-generated=false
*.json linguist-documentation=false
*.json linguist-detectable=true

*.yaml linguist-vendored=false
*.yaml linguist-generated=false
*.yaml linguist-documentation=false
*.yaml linguist-detectable=true
