<?xml version='1.0' encoding='utf-8'?>
<Config>
  <AppName>Image-Generator</AppName>
  <Description>
    This Python project provides a simple command-line interface for interacting with the SDXL-Turbo model, showcasing two key functionalities:
  </Description>
  <Functionalities>
    <Functionality>
      <Name>Text-to-image Conversion</Name>
      <Description>
        Allows users to convert a text prompt into an image using the SDXL-Turbo model. Users are prompted to input a text prompt, and the script generates code snippets using the model to produce an image. The generated image is saved in the 'output' directory.
      </Description>
    </Functionality>
    <Functionality>
      <Name>Image-to-image Transformation</Name>
      <Description>
        Enables users to transform an existing image based on a text prompt using SDXL-Turbo. Users input a text prompt, and the script generates code snippets utilizing the model to transform an initial image. The resulting image is saved in the 'output' directory.
      </Description>
    </Functionality>
  </Functionalities>
</Config>
